{deps, [
	{gen_listener_tcp, ".*", {git, "https://github.com/travelping/gen_listener_tcp.git", {branch, "master"}}},
        {gen_socket, ".*", {git, "https://github.com/travelping/gen_socket.git", {branch, "master"}}},
	{proper, ".*", {git, "https://github.com/manopapad/proper",              "HEAD"}}
]}.

